body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #F8F8F6;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.greenCat {
  width: 350px;
  height: 200px;
}

h1 {
  font-weight: lighter;
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

span {
  font-weight: 600;
}

.inputSection {
  margin: 20px 0px 3px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 1px;
  width: 100px;
}

.addOption {
  margin-top: 20px;
}

button {
  border: none;
  color: white;
  padding: 3px 25px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

input {
  width: 100%;
  padding: 12px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.addButton {
  width: 100px;
  height: 100px;
  background: url("images/addButton.png") no-repeat;
  display: inline-block;
}

.addButton:hover {
  background: url("images/addButtonHover.png") no-repeat;
}

.addButton:active {
  background: url("images/addButtonActive.png") no-repeat;
}

.goButton {
  width: 100px;
  height: 100px;
  background: url("images/goButton.png") no-repeat;
  display: inline-block;
}

.goButton:hover {
  background: url("images/goButtonHover.png") no-repeat;
}

.goButton:active {
  background: url("images/goButtonActive.png") no-repeat;
}

h1, button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.bottomCat {
  background: url("images/bottomCat.png") no-repeat;
  width: 100px;
  height: 80px;
  display: inline-block;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 0;
  right: 0;
}

.bottomCat:hover{
  content: url("images/bottomCatActive.png");
}

.resultSection {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
